<h2 class="section-title">Identify the Complainers!</h2>
<% if session[:guesses_submitted] %>
<h3>You have submitted your guesses for this round. Currently waiting on other players.</h3>
<h3>Please wait for other players to guess and click the button below.</h3>
<p><%= button_to "Refresh",round_score_path(@round.id),method: :get%></p>
<% else %>

<div class="form-box">
    <h3><%= "Complaints for: #{@round.topic.name}" %></h3>
    <%= form_tag send_guesses_path(params[:id]) do %>
    <% @complaints.each_with_index do |c,i| %>
        <div class="form-row">
            <div class="form-group col-md-6">
                <%= c.complain_text %>
            </div>
            <div class="form-group col-md-6">
                <%= collection_select "guess#{i}",:user_id,@opponents,:id,:name %></p>
            </div>
        </div>
    <% end %>
    <%= submit_tag "Good Luck!" %>
    <% end %>
</div>

<% end %>