<h2 class="section-title">Identify the Complainers!</h2>
<% if @user.guesses_submitted? %>
<div class="form-box">
    <h3>You have submitted your guesses for this round. Currently waiting on other players.</h3>
    <h3>Please wait for other players to guess and click the button below.</h3>
    <p><%= button_to "Refresh",round_score_path(@round.id),method: :get%></p>
</div>
<% else %>

<div class="form-box">

    <div class="blur-guard">
        <h3><%= "Complaints for: #{@round.topic.name}" %></h3>
        <%= form_tag send_guesses_path(params[:id]) do %>
        <% @complaints.each_with_index do |c,i| %>
        <p><%= c.complain_text %><%= collection_select "guess#{i}",:user_id,@opponents,:id,:name %></p>
        <% end %>
        <%= submit_tag "Good Luck!" %>
        <% end %>
    </div>
</div>

<% end %>