<div class="d-flex justify-content-center">
    <h1 class="text-xl-center"> <%=@round.topic.name%></h1>
</div>
<div class="d-flex justify-content-center">
    <p><%=@user.name%></p>
</div>

<% if @complaint.id == nil %>
    <div class="form-group">
        <%=form_for @complaint do |f| %>
        <%=f.label :Complain_text, "Complaint", class: "d-flex justify-content-center h1" %>
        <%=f.text_field :complain_text, class: 'form-control' %>
        <%=f.submit :submit, class: "btn btn-dark" %>
        <% end %>
    </div>
<% else %>
    <div>
        <h1>
            <%=@complaint.complain_text%>
        </h1>
        <% if @round.complaint_phase? %>
            <%=button_to "refresh", @round, method: :get %>
        <% else %>
            <%= button_to "Look at Guesses", round_guesses_path(@round.id), method: :get %>
        <% end %>
    </div>
<% end %>