<% if @user.current_session? %>

<div id="user-screen" class="form-box">
    <div class="d-flex justify-content-center" style="margin-top: 2em">
        <%= button_to "Continue Game", @path, method: :get, class: 'btn btn-primary btn-lg btn-submit' %>
    </div>
    <div class="d-flex justify-content-center" style="margin-top: 3em;">
        <%=button_to "Logout", logout_path, method: :post, class: 'btn btn-danger btn-lg btn-submit '%>
    </div>
</div>
<% else %>
<div id="user-screen" class="form-box">
    <div class="d-flex justify-content-center mt-5">
        <%= button_to "New Game", new_game_path, method: :get, class: 'btn btn-danger btn-lg btn-submit'%>
    </div>
    <div class="d-flex justify-content-center mt-5">
        <%= button_to "Join Game", games_path, method: :get, class: 'btn btn-danger btn-lg btn-submit'%>
    </div>
    <div class="d-flex justify-content-center" style="margin-top: 3em;">
        <%=button_to "Logout", logout_path, method: :post, class: 'btn btn-danger btn-lg btn-submit '%>
    </div>
</div>
<% end %>